.CalendarView :hover {
  cursor: pointer;
}
.ModalContentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.ModalContentDiv {
  font-family: "Poppins", sans-serif;
  background-color: rgb(5, 71, 47);
  color: antiquewhite;
  height: 300px;
  width: 400px;
  padding: 30px 40px;
  border-radius: 50px;
  border: 1px solid;
  display: block;
}
.ModalHeader {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-weight: 600;
  justify-content: space-around;
  margin-bottom: 10px;
}

.ModalValue {
  padding: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 500;
}

.ModalKey {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 500;
  padding-right: 0.5rem;
}
.EditCard {
  display: flex;
}
.HoverFocus :hover {
  color: rgb(255, 248, 239, 1);
  cursor: text;
}
.DialogTitle {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: rgb(20, 80, 70);
  padding: 2rem;
  text-align: center;
}
.DialogText {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: rgb(255, 228, 196);
  text-align: center;
}
.DialogBtnClose {
  color: antiquewhite;
}
.DialogBtnDelete {
  color: rgb(214, 32, 0)
}
